*{
  padding: 0;
  margin: 0;

  list-style: none;
  outline: none;
  box-sizing: border-box;
  
}

.bookshelf{
  &__item {
    float: bottom;
    font-family: 'Finlandica', sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 410px;
    background-color: rgb(246, 245, 245);


    img {
      margin: 10px auto;
      width: 130px;
      height: 150px;
    }
  }


}