*{
  padding: 0;
  margin: 0;

  list-style: none;
  outline: none;
  box-sizing: border-box;
  
}

.bookshelf{

  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 10px 10px;
    height: 320px;
    width: 150px;
    background-color: lightgray;

    @media screen and (max-width: 400px){
     margin: 4px 4px;
    }

    img {
      margin: 10px;
      width: 130px;
      height: 150px;
    }
  }


}